{
  "serviceName" : "client-server multipoint by tags",
  "serviceDescription" : "Point-to-multipoint with dynamic path",
  "roles" : [ {
    "roleName" : "Client",
    "roleDescription" : "Sends packets to first group of servers discovered on tagged route",
    "permission" : 576,
    "code" : "471C0010069300D78463014000EF409CCD1C00100793C15C900204C000EF44DC449400D7C46303C000EF44DC00178693C4D44880C1C001858F9300858F13000F1E83013E96130136561301D60363CD50002F0F13FFFF45E3000000739002006000EF900200000000",
    "codeMap" : {
      "pbl" : 0
    },
    "path" : "59dcbca900008000000001",
    "endpointRules" : {
      "ingress" : [ { } ],
      "egress" : [ { } ]
    },
    "variables" : {
      "ppl" : 0,
      "params" : [ {
        "name" : "forwardType1",
        "value" : 3
      }, {
        "name" : "forwardType2",
        "value" : 3
      }, {
        "name" : "maximumHops",
        "value" : 4
      }, {
        "name" : "hopCounter",
        "value" : 0
      }, {
        "name" : "connTag",
        "value" : 10000
      } ]
    }
  }, {
    "roleName" : "Server",
    "roleDescription" : "Subscribes to client packets at the first hop",
    "permission" : 576,
    "code" : "409C0000069300D78463018000EF409C00178693C0944B50DD504F10CD50008000EF4F10CD500000",
    "codeMap" : {
      "subs" : 0
    },
    "path" : null,
    "endpointRules" : {
      "ingress" : [ { } ],
      "egress" : [ { } ]
    },
    "variables" : {
      "ppl" : 0,
      "params" : [ {
        "name" : "hopNum",
        "value" : 3
      } ]
    }
  } ]
}