{
  "serviceName" : "client-server",
  "serviceDescription" : "Point-to-point with Dijkstra path",
  "roles" : [ {
    "roleName" : "client",
    "roleDescription" : "Sends packets to server using path calculated by Orchestrator",
    "permission" : 576,
    "code" : "4F1CCD5C9002",
    "codeMap" : {
      "snd" : 0
    },
    "path" : null,
    "endpointRules" : {
      "ingress" : [ { } ],
      "egress" : [ { } ]
    }
  }, {
    "roleName" : "server",
    "roleDescription" : "Sends packets to client using path calculated by Orchestrator",
    "permission" : 576,
    "code" : "4F1CCD5C9002",
    "codeMap" : {
      "snd" : 0
    },
    "path" : null,
    "endpointRules" : {
      "ingress" : [ { } ],
      "egress" : [ { } ]
    }
  } ]
}